<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeequan.jeepay.service.mapper.MchAccountDailySnapshotMapper">

    <resultMap id="BaseResultMap" type="com.jeequan.jeepay.core.entity.MchAccountDailySnapshot">
        <id column="id" property="id" />
        <result column="mch_no" property="mchNo" />
        <result column="snapshot_amount" property="snapshotAmount" />
        <result column="snapshot_date" property="snapshotDate" />
        <result column="created_at" property="createdAt" />
    </resultMap>

</mapper>
